

header{
background-color: #FFFFFF;
margin: auto;
height: 120px;
}
a {
text-decoration: none;
font-family: sans-serif;
}
li a{
	padding-top: 20px;
}
.button{
	margin-top: 30px;
	margin-right: 20px;
	float: right;
	font-size: 15px;
	background-color: #008CBA ;
    color: #FFFFFF;
}
ul{
text-align: center;
padding-top: 40px;

}
.sidebar ul li{
	padding-top: 8px;
	/*display: inline;  without using this coning list item inline*/
	font-size: 20px;
display: inline-block;
}
ul li a:hover{
	text-decoration: underline;
}
.img1{
margin-left: 20px;
position: relative;
padding-left: 0;
float: left;
}
.sidebar{
height: 50px;
}
.img3{
	padding-bottom: 5px;
width: 270px;
height: 220px;
}
.container{
padding-top: 5px;
height: 300px;
padding-bottom: 5px;
}
.container2{
	width: auto;
}
.img_bg{
width: 271px;
height: 221px;

}
.para{
width: 60px;
float: right;
padding-left: 750px;
}
.img2{
float: left;
width: 500px;
height: 300px;
}

.img4{
float: right;
padding-right: 15px;}

footer{
	
/*background-color: #FFFFFF;*/
margin: auto;
height: 120px;
border: 2px solid red;
background-color:#FFFFFF;
}
.row{
	padding-top: 5p;
}
.row .colom p{
font-size: 10px;
font-style: italic; 
font-weight: bold;

}
p a{
	font-size: 30px;
}

.img5{
	width: 50px;
	height: 50px;
	float: right;
	padding-top: 4px;
}
.column{
	width: 33.33%;
	height: 300px;
	display: table-cell;
	font-size: 12px;
}
.footer .column ul{
	padding-right: 10px;
	list-style: none;
}
p{
	font-size: 12px;
}
#section{
	color: #FFFFFF;
	height: 40px;
}
.footer .container ul li{
display: inline-block;
}

